#Requirements để chạy toàn bộ

#Phần A
#requests
#beautifulsoup4
#lxml
#apache-airflow-providers-http
pdfplumber
psycopg2-binary
python-dateutil
pandas
apache-airflow-providers-postgres

#Phần B
pandas
numpy
matplotlib
seaborn
scikit-learn
